apiVersion: apps/v1
kind: Deployment
metadata: 
  name: mongo-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
        - name: mongo-cont 
          image: mongo:latest
          ports:
            - containerPort: 27017
---
apiVersion: v1
kind: Service
metadata: 
  name: mongo-svc
spec:
  type: ClusterIP
  selector:
    app: web
  ports:
    - port: 27017
      targetPort: 27017